
$dark_blue: #0C3259;
$main_green: #61A037;

body {
  font-weight: 200;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', 'Helvetica', sans-serif;
  color: $dark_blue;
}

a {
  color: $main_green;
}

a:hover {
  color: #7DCC47;
}

div.main {
  margin-bottom: 40px;
}

.jumbotron {
  background-image: url("/chef.jpg");
  background-size: cover;
  height: 500px;
  border-bottom: 5px solid $dark_blue;

  h1 {
    color: rgba(255,255,255,.8);
    font-size: 80px;
    text-transform: uppercase;
    font-family: 'Oswald', 'Helvetica', sans-serif;
    margin-bottom: 20px;
  }

  span {
    background-color: rgba(255,255,255,.8);
    color: #000;
    padding: 5px;
    line-height: 2;
  }
}

.jumbotron2 {
  background-image: url("/map.png");
  background-size: cover;
  height: 500px;
  border-bottom: 5px solid $dark_blue;

  h1 {
    color: rgba(0,0,0,.8);
    font-size: 80px;
    text-transform: uppercase;
    font-family: 'Oswald', 'Helvetica', sans-serif;
    margin-bottom: 20px;
  }

  span {
    background-color: rgba(0,0,0,.8);
    color: #fff;
    padding: 5px;
    line-height: 2;
  }
}

.nav-filter {
  background-color: #fff;
  width: 100%;
  height: 60px;

  li {
    font-size: 16px;
    padding: 0 10px;
  }

  li:hover {
    font-weight: 400;
  }

  span {
    @extend li;
    float: left;
    padding: 10px 15px;
  }
}




.nav-pills {
  width: 520px;
  margin: auto;
}

.grid {
  img {
    width: 300px;
    height: auto;
  }
}

.thumbnail {
  border-radius: 0;
}

.navbar {
  margin-bottom: 0;
  background-color: $dark_blue;
  border-radius: 0;
  border: 2px solid $dark_blue;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  font-weight: 400
}

.navbar-default .navbar-nav>li>a:visited {
  color: #fff;
}

.navbar-default .navbar-nav>li {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 5px solid #0C3259;
}

.navbar-default .navbar-nav>li:hover {
  background-color: rgba(255,255,255,.1);
  border-bottom: 5px solid $main_green;
}

li.register {
  background-color: $main_green;
  font-weight: 400;
  border-bottom: 5px solid $main_green !important;
}

.navbar-default .navbar-nav>li.register:hover {
  background-color: #7DCC47;
}

div.standout {
  border: 5px solid $dark_blue;
  margin: 30px 0;
  div.col-md-6 {
    padding: 0;
    div.standout-content {
      padding: 20px;
      margin: 10px;
      font-size: 16px;
      height: 100%;
      span {
        font-weight: 400;
      }
    }
  }
}

.header {
  padding: 60px 0 20px 0;
}

.sub-header {
  padding: 40px 0 10px 0;
}

div.project-images {
  div.images {
    border: 5px solid $dark_blue;
    padding: 20px;
      img {
        max-width: 400px;
        margin: 0 auto;
        display: block;
      }
  }
}

div.filters {
  margin: 10px 0 30px 0;
}

footer {
  min-height: 60px;
  background-color: rgba(0,0,0,.1);
  padding: 40px;

  div.container {
    margin: 0 20px;

    div {

      p {
        font-weight: 500;
        font-size: 14px;
      }

      a {
        font-size: 14px;
      }
    }
  }
}

div.results {

  div {
    padding: 10px;

    img {
      max-width: 100%;
    }
  }

  div.interventions {

  }
}

.hidden {
  display: none;
}

form {
  div.basic-info {

    .col-md-12 {
      margin-top: 20px;
    }
    .col-md-6 {
      @extend .col-md-12
    }
    .col-md-3 {
      @extend .col-md-12
    }
  }

  div.more-info {
    padding: 20px 0;
  }
}

div.form-section {
  background-color: $dark_blue;
  margin: 5px 0;

  h3 {
    color: #fff;
    margin-bottom: 20px;
  }
}

button.save {
  width: 300px;
  margin: 30px auto;
  display: block;
}

.carousel{
    background: $dark_blue;
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
  margin: 20px;
}
